@font-face {
    font-family: FigTree;
    src: url(./assets/fonts/static/Figtree-ExtraBold.ttf);
    font-weight: 800;
}
@font-face {
    font-family: 'FigTree paragraph';
    src: url(./assets/fonts/static/Figtree-SemiBold.ttf);
    font-weight: 500;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: 'FigTree paragraph', sans-serif;
    background-color: hsl(47, 88%, 63%);
    height: 100vh;  
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    min-width: 28.125rem;
    max-width: 36.125rem;
    width: 85%;
    height: 50rem;
    background-color: white;
    border: 1px solid black;
    border-radius: 1.6rem;
    font-size: 1.4rem;

    padding: 2rem;
    
    box-shadow: 15px 16px 1px -6px;

}
main .web-photo{
    width: 100%;
    border-radius: 1.6rem;
}
section h1{
    font-family: 'FigTree', sans-serif;
}
